<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Antila Labs{% end %}</title>
    <meta name="description" content="{% block description %}{% end %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/static/vendors/search/css/search.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/odometer.css">
    <link rel="stylesheet" href="/static/css/aos.css">
    <link rel="stylesheet" href="/static/css/slick.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">

    <style>
        .team-thumb>img {
            width: 100%;
            height: auto;
        }
        
        .team-content>h4 {
            color: var(--textLow)
        }
    </style>
</head>

<body>


    <!-- CSRF Add -->



    <!-- Preloader -->
    <div id="preloader">
        <img src="/static/img/logo/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->
    <div class="row">
        <div class="notification" style="position: fixed;display: none;" id="notificationSuccess">
            Hello
        </div>
        <div class="notification" style="position: fixed;display: none;" id="notificationSuccess">
            Hello
        </div>
    </div>


    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <div class="header-top" id="headerTop">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6" id="infoCompany">
                        <div class="header-top-area">
                            <div class="header-top-left-text">
                                <p>We provides <span>Covid-19</span> medical accessories</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header-top-right-text">
                            <ul>
                                <li><a href="/about_us">About Us</a></li>
                                <li><a href="/contact_us">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="menu-area" style="padding-bottom: 1vh;">
            <div class="align-items-center justify-content-between" id="menuebar">

                <div class="menu-wrap">
                    <nav class="menu-nav">
                        <div class="row align-items-center">
                            <div class="col-lg-4 d-none d-lg-block">
                                <div class="navbar-wrap main-menu d-none d-lg-flex">
                                    <ul class="navigation">

                                        <li><a data-bs-toggle="modal" href="#downloadReport" role="button">Download Report</a></li>
                                        <li><a href="/">COVID-19 TEST</a></li>


                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="logo" style="padding:2% 0%;">
                                    <a href="/"><img src="/static/img/logo/logo.png" alt=""></a>

                                </div>
                            </div>

                            <div class="col-lg-4" id="closeDisplay">
                                <div class="header-action">
                                    <ul>


                                        <li class="header-shop-cart d-none d-md-flex">
                                            <a href="#">
                                                <img src="/static/img/icon/shape-img.png" alt="">
                                                <span class="cart-count">0</span>
                                            </a>


                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>

                </div>
                <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                <!-- Mobile Menu  -->
                <div class="mobile-menu">
                    <nav class="menu-box">
                        <div class="close-btn"><i class="fas fa-times"></i></div>

                        <div class="nav-logo">
                            <a href="/"><img src="/static/img/logo/logo.png" alt="" title=""></a>

                        </div>
                        <div class="menu-outer">
                            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->


                            <div class="header-category-btn" style="width: 100%;">

                                <a class="prescription" style="width: 100%;align-items: center;justify-content:space-around;font-size: 13px;background-color: var(--mainBColor);border-bottom: 1px solid white;color:white;" data-bs-toggle="modal" href="#exampleModalToggle" role="button">
                                    Upload Prescription
                                </a>

                            </div>
                            <div class="header-category-btn" style="width: 100%;">

                                <a class="requestCall" style="width: 100%;align-items: center;justify-content:space-around;font-size: 13px;background-color: var(--mainBColor);border-bottom: 1px solid white;color:white;" data-bs-toggle="modal" href="#requestToggle" role="button">
                                    Request Callback
                                </a>


                            </div>

                        </div>
                        <div class="social-links">
                            <ul class="clearfix">
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-backdrop"></div>
                <!-- End Mobile Menu -->

            </div>

            <div class="header-search" style="width: 100%;padding-right: 7.5%;padding-left: 7.5%;padding-top: 1%;padding-bottom: 1%;background-color:var(--mainBColor);" id="testSearch">
                <form class="d-flex" action="#" style="width: 100%;">

                    <input style="width:70%;" type="text" placeholder="Search Your Test" id="_0">
                </form>

            </div>

            <div class="header-category d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex header-category-wrap">

                                <div class="d-flex" style="width: 20%;" id="fileUpload">
                                    <div class="header-category-btn" style="width: 100%;">

                                        <a class="prescription" style="width: 100%;align-items: center;justify-content:space-around;font-size: 13px;" data-bs-toggle="modal" href="#exampleModalToggle" role="button">

                                            Upload Prescription
                                            
                                        </a>

                                    </div>
                                </div>
                                <div class="d-flex header-search" style="width: 60%;margin-left: 5%;margin-right: 2.5%;" id="testSearch">
                                    <form action="#" style="width:100%;">
                                        <button><i class="fas fa-search"></i></button>
                                        <input type="text" placeholder="SearchFor Health Packages or Test" style="width:100%;" id="_1">
                                    </form>
                                </div>
                                <div class="d-flex" style="width: 20%;" id="callBack">
                                    <div class="header-category-btn" style="width: 100%;">

                                        <a class="requestCall" style="width: 100%;align-items: center;justify-content:space-around;font-size: 13px;" data-bs-toggle="modal" href="#requestToggle" role="button">
                                            Request callBack
                                        </a>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- For Mobile -->
        <div class="header-search flex-column" style="width: 100%;margin-left: 5%;margin-right: 2.5%;padding-bottom: 1rem;" id="testMobileSearch">
            <div class="d-flex justify-content-end" style="padding:3% 10%;">

                <div class="d-flex cstIcons align-items-center justify-content-center" style="margin-right: 2vh;">
                    <a href="/contact_us">
                        <i class="far fa-user" style="font-size: 3vh;color:white;"></i>
                    </a>
                </div>
                <div class="d-flex cstIcons align-items-center justify-content-center">

                    <a href="#">
                        <i class="fa fa-biking" style="font-size: 3vh;color:white;"></i>
                    </a>

                </div>


            </div>


        </div>
        <!-- For Mobile End-->

        </div>
    </header>

    <!-- header-area-end -->

    {% block content %}
    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->

        <!-- breadcrumb-area-end -->

        <!-- about-area -->
        <section class="about-area pt-100 pb-100">
            <div class="container">
                <div class="section-area-inner">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="about-image-wrap">
                                <div class="about-img-top wow fadeInLeft" data-wow-delay=".2s">
                                    <img src="/static/img/images/about_img01.jpg" alt="">
                                </div>
                                <div class="about-img-bottom wow fadeInUp" data-wow-delay=".2s">
                                    <img src="/static/img/images/about_img02.jpg" alt="">
                                </div>
                                <img src="/static/img/images/about_shape01.png" alt="" class="about-top-shape">
                                <img src="/static/img/images/about_shape02.png" alt="" class="about-bottom-shape">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="about-content">
                                <h2 class="title" style="color: var(--textHigh);">Let’s Make <br> Something for health</h2>
                                <p class="big-desc" style="color:var(--textLow);">Doctor is auto-assig best matches concern You will get a diagnosis and treatment.</p>
                                <p>Follow up with the doctor that even after your chat wiow closes. everyone to see and find myself sharing the link anywhere dolor sit amet, consetetur sadipscing elit sed diam nonumy eirmod tempor invidunt labore.</p>
                                <p>Window closes. everyone to see it and find wiow myself sharing the link anywhere dolor consetetur.</p>
                                <div class="about-content-list">
                                    <ul>
                                        <li>
                                            <div class="icon"><img src="/static/img/icon/about_icon01.png" alt=""></div>
                                            <h6 class="content" style="color: var(--textLow);">Authentic Medicines</h6>
                                        </li>
                                        <li>
                                            <div class="icon"><img src="/static/img/icon/about_icon02.png" alt=""></div>
                                            <h6 class="content" style="color: var(--textLow);">100% Satisfaction</h6>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#ourTeam" class="btn about-btn">Meet Our Team</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-area-end -->

        <!-- customer-feedback-area -->
        <section class="customer-feedback-area">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="">
                            <div class="row" style="border-bottom: 1px solid var(--mainBColor);width: 85%;margin: auto;">
                                <h2 style="color: var(--textHigh);">Vision</h2>
                            </div>
                            <div class="customer-feedback-item">
                                <div class="feedback-item-content">

                                    <h2 class="title" style="color:var(--textLow);">Medical news and health news headlines posted throughout the day.</h2>
                                    <p style="margin-top: 1rem;">Medical news and health news headlines posted throughout the day. Medical news and health news headlines posted throughout the day. Medical news and health news headlines posted throughout the day. Medical news and
                                        health news headlines posted throughout the day. Medical news and health news headlines posted throughout the day. Medical news and health news headlines posted throughout the day.</p>

                                </div>
                                <div class="feedback-img" data-background="/static/img/images/feedback_img.jpg"></div>
                            </div>

                            <div class="row" style="border-bottom: 1px solid var(--mainBColor);width: 85%;margin: auto;margin-top: 10%;">
                                <h2 style="color: var(--textHigh);">Mission</h2>
                            </div>
                            <div class="customer-feedback-item">
                                <div class="feedback-item-content">

                                    <h2 class="title" style="color:var(--textLow);">Medical news and health news headlines posted throughout the day.</h2>
                                    <p style="margin-top: 1rem;">Medical news and health news headlines posted throughout the day. Medical news and health news headlines posted throughout the day. Medical news and health news headlines posted throughout the day. Medical news and
                                        health news headlines posted throughout the day. Medical news and health news headlines posted throughout the day. Medical news and health news headlines posted throughout the day.</p>

                                </div>
                                <div class="feedback-img" data-background="/static/img/images/feedback_img.jpg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- customer-feedback-area-end -->

        <!-- support-area -->

        <!-- support-area-end -->

        <!-- team-area -->
        <section class="team-area pt-100 pb-50">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="team-section-title text-center mb-50">
                            <div class="title-icon"><img src="/static/img/icon/title_icon.png" alt=""></div>
                            <h2 class="title" style="color: var(--textHigh);">Our Team</h2>
                            <p>Pharmacist Assistants</p>
                        </div>
                    </div>
                </div>
                <div class="section-area-inner">
                    <div class="row justify-content-center" id="doctorsSection">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="team-item mb-50">
                                <div class="team-thumb">
                                    <img src="/static/img/images/team_img01.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <span>pharmacist</span>
                                    <h4 class="title">Martin Childe</h4>
                                    <a href="#" class="team-social"><i class="fas fa-share-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="team-item mb-50">
                                <div class="team-thumb">
                                    <img src="/static/img/images/team_img02.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <span>pharmacist</span>
                                    <h4 class="title">alexei navalny</h4>
                                    <a href="#" class="team-social"><i class="fas fa-share-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="team-item mb-50">
                                <div class="team-thumb">
                                    <img src="/static/img/images/team_img03.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <span>pharmacist</span>
                                    <h4 class="title">Martin Smith</h4>
                                    <a href="#" class="team-social"><i class="fas fa-share-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="team-item mb-50">
                                <div class="team-thumb">
                                    <img src="/static/img/images/team_img04.jpg" alt="">
                                </div>
                                <div class="team-content">
                                    <span>pharmacist</span>
                                    <h4 class="title">loan frauds</h4>
                                    <a href="#" class="team-social"><i class="fas fa-share-alt"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- team-area-end -->



    </main>
    <!-- main-area-end -->

    {% end %}

    <!-- footer-area -->
    <footer>
        <div class="footer-top-wrap">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">Know Us</h4>
                            <div class="fw-link">
                                <ul>
                                    <li><a href="/about_us">About Us</a></li>
                                    <li><a href="/contact_us">Contact Us</a></li>
                                    <li><a href="/contact_us">Press Coverage</a></li>
                                    <li><a href="/contact_us">Business Partnership</a></li>
                                    <li><a href="/contact_us">Careers</a></li>
                                    <li><a href="/contact_us">Sehat Ke Sathi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">Our Policies</h4>
                            <div class="fw-link">
                                <ul>
                                    <li><a href="/about_us">Privacy Policy</a></li>
                                    <li><a href="/contact_us">Terms and Conditions</a></li>
                                    <li><a href="/contact_us">Editorial Policy</a></li>
                                    <li><a href="/contact_us">Return Policy</a></li>
                                    <li><a href="/contact_us">IP Policy</a></li>
                                    <li><a href="/contact_us">Grievance Redressal Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <div class="footer-widget">
                            <h4 class="fw-title">Our Services</h4>
                            <div class="fw-link">
                                <ul>
                                    <li><a href="shop-details.html">Order Medicines</a></li>
                                    <li><a href="/contact_us">Book Lab Tests</a></li>
                                    <li><a href="/contact_us">Consult a Doctor</a></li>
                                    <li><a href="/contact_us">Ayurveda Articles</a></li>
                                    <li><a href="/contact_us">English Articles</a></li>
                                    <li><a href="/contact_us">1mg Care Plan</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                        <div class="footer-widget">
                            <h4 class="fw-title">Subscribe Our Newsletter</h4>
                            <div class="f-newsletter">
                                <p>Get a free subscription to our health & fitness</p>
                                <form action="#" class="newsletter-form">
                                    <input type="text" placeholder="Enter Your Email Address">
                                    <button><i class="fas fa-rocket"></i></button>
                                </form>
                            </div>
                            <div class="fw-download-btn">
                                <a href="#"><img src="/static/img/icon/download_btn01.png" alt=""></a>
                                <a href="#"><img src="/static/img/icon/download_btn02.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p>Copyright © 20221 Yed. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-method-img text-center text-md-right">
                            <img src="/static/img/images/card.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->


    <div class="modal fade" id="downloadReport" aria-hidden="true" aria-labelledby="exampleModalToggle" tabindex="-1">

        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="modalCross btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <div class="row">

                        <div class="col-lg-6 d-none d-lg-block" style="margin: auto;">
                            <img src="/static/img/images/feedback_img.jpg" alt="" style="width: 100%;height: auto;">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12" style="margin:auto;">
                            <div class="row modalInput" style="padding-right: 2rem;">

                                <form>
                                    <div class="mb-3">
                                        <input type="text" class="form-control modalName" aria-describedby="emailHelp" placeholder="Name*">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control modalPhone" aria-describedby="Mobile Number" placeholder="Mobile Number*">
                                    </div>

                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary modalSubmit" style="padding:12px 34px;border-radius: 0.5rem;width: 100%;">Submit</button>
                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>




                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="requestToggle" aria-hidden="true" aria-labelledby="exampleModalToggle" tabindex="-1">

        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="modalCross btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <div class="row">

                        <div class="col-lg-6 d-none d-lg-block" style="margin: auto;">
                            <img src="/static/img/images/feedback_img.jpg" alt="" style="width: 100%;height: auto;">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12" style="margin: auto;">
                            <div class="row modalInput" style="padding-right: 2rem;">

                                <form>
                                    <div class="mb-3">
                                        <input type="text" class="form-control modalName" aria-describedby="emailHelp" placeholder="Name*">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control modalPhone" aria-describedby="Mobile Number" placeholder="Mobile Number*">
                                    </div>

                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary modalSubmit" style="padding:12px 34px;border-radius: 0.5rem;width: 100%;">Submit</button>
                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>




                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="requestToggle" aria-hidden="true" aria-labelledby="requestToggleLabel" tabindex="-1">

        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="modalCross btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <div class="row">

                        <div class="col-lg-6 d-none d-lg-block" style="margin: auto;">
                            <img src="/static/img/images/feedback_img.jpg" alt="" style="width: 100%;height: auto;">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row modalInput" style="padding-right: 2rem;">

                                <form>
                                    <div class="mb-3">
                                        <input type="text" class="form-control modalName" aria-describedby="emailHelp" placeholder="Name*">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control modalPhone" aria-describedby="Mobile Number" placeholder="Mobile Number*">
                                    </div>

                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary modalSubmit" style="padding:12px 34px;border-radius: 0.5rem;width: 100%;">Submit</button>
                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>




                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">

        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="modalCross btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <div class="row">

                        <div class="col-lg-6 d-none d-lg-block" style="margin: auto;">
                            <img src="/static/img/images/about_shape01.png" alt="" style="width: 100%;height: auto;">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row modalInput" style="padding-right: 2rem;">

                                <form>
                                    <div class="mb-3">
                                        <input type="text" class="form-control modalEmail" aria-describedby="emailHelp" placeholder="Name*">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control modalPhone" aria-describedby="Mobile Number" placeholder="Mobile Number*">
                                    </div>
                                    <div class="mb-3">
                                        <input type="email" class="form-control modalEmail" aria-describedby="Email-Id" placeholder="Email-Id">
                                    </div>
                                    <div class="mb-3">
                                        <select class="form-select modalGender" aria-label="Gender">
                                            <option selected>Male</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control modalPin" aria-describedby="Email Id" placeholder="Pincode">
                                    </div>

                                    <div class="mt-3">
                                        <label for="formFileMultiple"> <span class="prescriptionButton"> Upload Prescription </span>  <small>&nbsp;&nbsp;&nbsp;(pdf, jpeg, png)</small></small></label>
                                        <input class="form-control" type="file modalPres" multiple style="visibility: hidden;">
                                    </div>

                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-primary modalSubmit" style="padding:12px 34px;border-radius: 0.5rem;width: 100%;">Submit</button>
                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>




                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hide this modal and show the first with the button below.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
                </div>
            </div>
        </div>
    </div>


    <!-- JS here -->
    <script src="/static/js/vendor/jquery-3.5.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.odometer.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.easypiechart.min.js"></script>
    <script src="/static/js/jquery.inview.min.js"></script>
    <script src="/static/js/jquery.appear.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/ajax-form.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/myscript.js" type="module"></script>
    {% module xsrf_form_html() %}

</body>

</html>