{% extends "base.html" %} {% block title %} Antlia Labs | HomePage {% end %} {% block content %}
<!-- main-area -->
<main>

    <!-- slider-area -->
    <section class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-bg d-flex align-items-center" data-background="/static/img/slider/slider_bg01.jpg">
                <div class="container container-inner">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h4 class="sub-title" data-animation="fadeInUp" data-delay=".3s">top <span>deal !</span></h4>
                                <h2 class="title" data-animation="fadeInUp" data-delay=".6s">servikal gloves</h2>
                                <p data-animation="fadeInUp" data-delay=".9s">Get up to 50% off Today Only</p>
                                <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay="1.2s">contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-bg d-flex align-items-center" data-background="/static/img/slider/slider_bg02.jpg">
                <div class="container container-inner">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h4 class="sub-title" data-animation="fadeInUp" data-delay=".3s">top <span>deal !</span></h4>
                                <h2 class="title" data-animation="fadeInUp" data-delay=".6s">ONLINE PHARMACY</h2>
                                <p data-animation="fadeInUp" data-delay=".9s">Get up to 50% off Today Only</p>
                                <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay="1.2s">contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-bg d-flex align-items-center" data-background="/static/img/slider/slider_bg03.jpg">
                <div class="container container-inner">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h4 class="sub-title" data-animation="fadeInUp" data-delay=".3s">top <span>Digital</span></h4>
                                <h2 class="title" data-animation="fadeInUp" data-delay=".6s">Pressure Monitor</h2>
                                <p data-animation="fadeInUp" data-delay=".9s">Get up to 50% off Today Only</p>
                                <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay="1.2s">contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-bg d-flex align-items-center" data-background="/static/img/slider/slider_bg04.jpg">
                <div class="container container-inner">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h4 class="sub-title" data-animation="fadeInUp" data-delay=".3s">top <span>deal !</span></h4>
                                <h2 class="title" data-animation="fadeInUp" data-delay=".6s">ONLINE PHARMACY</h2>
                                <p data-animation="fadeInUp" data-delay=".9s">Get up to 50% off Today Only</p>
                                <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay="1.2s">contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider-area-end-->

    <!-- organ slider start -->

    <!-- organ slider end -->
    <!-- <div class="doctor-category-area doctor-category-bg">
        <div class="container">
            <div class="row doctor-cat-active">
                <div class="col">
                    <a href="contact.html" class="doctor-cat-item">
                        <img src="/static/img/icon/dc_icon01.png" alt="">
                        <span>Neurosis Brain</span>
                    </a>
                </div>
                <div class="col">
                    <a href="contact.html" class="doctor-cat-item">
                        <img src="/static/img/icon/dc_icon01.png" alt="">
                        <span>Neurosis Brain</span>
                    </a>
                </div>
                <div class="col">
                    <a href="contact.html" class="doctor-cat-item">
                        <img src="/static/img/icon/dc_icon02.png" alt="">
                        <span>New Born Baby</span>
                    </a>
                </div>
                <div class="col">
                    <a href="contact.html" class="doctor-cat-item">
                        <img src="/static/img/icon/dc_icon03.png" alt="">
                        <span>Thyroid</span>
                    </a>
                </div>
                <div class="col">
                    <a href="contact.html" class="doctor-cat-item">
                        <img src="/static/img/icon/dc_icon04.png" alt="">
                        <span>Blood Cells</span>
                    </a>
                </div>
                <div class="col">
                    <a href="contact.html" class="doctor-cat-item">
                        <img src="/static/img/icon/dc_icon05.png" alt="">
                        <span>Podiatry</span>
                    </a>
                </div>
                <div class="col">
                    <a href="contact.html" class="doctor-cat-item">
                        <img src="/static/img/icon/dc_icon06.png" alt="">
                        <span>Reproductive</span>
                    </a>
                </div>
                <div class="col">
                    <a href="contact.html" class="doctor-cat-item">
                        <img src="/static/img/icon/dc_icon07.png" alt="">
                        <span>Lungs Disease</span>
                    </a>
                </div>
                <div class="col">
                    <a href="contact.html" class="doctor-cat-item">
                        <img src="/static/img/icon/dc_icon08.png" alt="">
                        <span>Heart Disease</span>
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Features-area -->
    <section class="features-area features-bg pt-90 pb-60">
        <div class="container">
            <div class="row align-items-end mb-35">
                <div class="col-lg-6 col-md-8">
                    <div class="category-title">
                        <h3 class="title" style="color: rgba(40, 40, 40, 1);">Our Specialities</h3>
                        <span style="color: rgba(40, 40, 40, 0.7);">All Diagnsotics Under One Roof</span>
                    </div>
                </div>
            </div>
        </div>
        <div class=" container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
                    <div class="features-item mb-30">
                        <div class="features-thumb">
                            <img src="/static/img/products/features_product01.jpg" alt="">
                        </div>
                        <div class="features-content">

                            <h3 class="title"><a href="shop.html">Routine <br>Testing</a></h3>
                            <span>The scope of routine investigations ranges from wellness to illness.</span>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
                    <div class="features-item mb-30">
                        <div class="features-thumb">
                            <img src="/static/img/products/features_product01.jpg" alt="">
                        </div>
                        <div class="features-content">

                            <h3 class="title"><a href="shop.html">Pathology Services</a></h3>
                            <span>Auto immune illnesses are diagnosed by a highly trained department.</span>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
                    <div class="features-item mb-30">
                        <div class="features-thumb">
                            <img src="/static/img/products/features_product01.jpg" alt="">
                        </div>
                        <div class="features-content">

                            <h3 class="title"><a href="shop.html">Genomic <br>Testing</a></h3>
                            <span>Advanced genetic testing to know your health risks</span>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- Features-area-end -->

    <!-- categories-area -->
    <section class="categories-area pt-85 pb-25">
        <div class="container">
            <div class="row align-items-end mb-35">
                <div class="col-lg-6 col-md-8">
                    <div class="category-title">
                        <h3 class="title" style="color: rgba(40, 40, 40, 1);">Best Health Packages</h3>
                        <span style="color: rgba(40, 40, 40, 0.7);">India's Trusted Lab</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row category-active mb-70">
                <div class="col">
                    <div class="category-item">
                        <a href="shop.html">
                            <img src="/static/img/products/categories_01.png" alt="">
                            <span class="content">Health & Partein</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="category-item">
                        <a href="shop.html">
                            <img src="/static/img/products/categories_01.png" alt="">
                            <span class="content">Health & Partein</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="category-item">
                        <a href="shop.html">
                            <img src="/static/img/products/categories_02.png" alt="">
                            <span class="content">Sesual Well</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="category-item">
                        <a href="shop.html">
                            <img src="/static/img/products/categories_03.png" alt="">
                            <span class="content">Health & Partein</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="category-item">
                        <a href="shop.html">
                            <img src="/static/img/products/categories_04.png" alt="">
                            <span class="content">Vitamin C Tablet</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="category-item">
                        <a href="shop.html">
                            <img src="/static/img/products/categories_05.png" alt="">
                            <span class="content">Health & Partein</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="category-item">
                        <a href="shop.html">
                            <img src="/static/img/products/categories_06.png" alt="">
                            <span class="content">Medicinal Kit</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="category-item">
                        <a href="shop.html">
                            <img src="/static/img/products/categories_07.png" alt="">
                            <span class="content">Sanitary Napkin</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="category-item">
                        <a href="shop.html">
                            <img src="/static/img/products/categories_08.png" alt="">
                            <span class="content">Health & Partein</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row shop-active">
                <div class="col" style="border: 1px solid var(--mainBColor);border-radius: 1rem;margin-left: 1vw;margin-right: 1vw;">
                    <div class="shop-item mb-10">
                        <div class="shop-content">
                            <h3 class="title"> <a href="shop-details.html">Smart Full Body Checkup</a></h3>
                            <div style="padding-bottom: 3rem;margin-bottom: 2rem;border-bottom: 1px solid var(--mainBColor);">
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Total no.of Tests - 82</span>
                                </div>
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Quick Turn Around Time</span>
                                </div>
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Reporting as per NABL ISO guidelines</span>
                                </div>
                            </div>

                            <p class="shop-discount" style="padding-left: 5%;">Offer Price</p>
                            <div class="shop-bottom">
                                <ul>
                                    <li class="price" style="padding-left: 5%;">$97 <del style="font-size: 15px;">$120</del> </li>
                                </ul>
                                <div class="d-flex justify-content-around" style="margin-top:1rem;">
                                    <a href="shop.html" class="btn" style="border-radius: 0.2rem;">Book Now</a>
                                    <a href="shop.html" class="btn addToCart" style="border-radius: 0.2rem;background-color: antiquewhite;" pachId=3>
                                        <?xml version="1.0" ?><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="height: 90%;width: 22px;fill: var(--mainBColor);"><title/><circle cx="14.531" cy="21.792" r="2"/><circle cx="4.531" cy="21.792" r="2"/><path d="M22.469,1.042H19.407A1.756,1.756,0,0,0,17.672,2.56l-1.8,13.482H1.531a1.25,1.25,0,1,0,0,2.5h15a1.757,1.757,0,0,0,1.735-1.519L20.034,3.759a.251.251,0,0,1,.248-.217h2.187a1.25,1.25,0,0,0,0-2.5Z"/><path d="M6.643,12.422a1.251,1.251,0,0,0,1.776,0l5-5.042a1.25,1.25,0,1,0-1.776-1.76L9.209,8.075A.25.25,0,0,1,8.781,7.9V1.459a1.25,1.25,0,1,0-2.5,0V7.9a.249.249,0,0,1-.427.176L3.419,5.62A1.25,1.25,0,0,0,1.643,7.38Z"/></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="border: 1px solid var(--mainBColor);border-radius: 1rem;margin-left: 1vw;margin-right: 1vw;">
                    <div class="shop-item mb-10">
                        <div class="shop-content">
                            <h3 class="title"> <a href="shop-details.html">Smart Full Body Checkup</a></h3>
                            <div style="padding-bottom: 3rem;margin-bottom: 2rem;border-bottom: 1px solid var(--mainBColor);">
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Total no.of Tests - 82</span>
                                </div>
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Quick Turn Around Time</span>
                                </div>
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Reporting as per NABL ISO guidelines</span>
                                </div>
                            </div>

                            <p class="shop-discount" style="padding-left: 5%;">Offer Price</p>
                            <div class="shop-bottom">
                                <ul>
                                    <li class="price" style="padding-left: 5%;">$97 <del style="font-size: 15px;">$120</del> </li>
                                </ul>
                                <div class="d-flex justify-content-around" style="margin-top:1rem;">
                                    <a href="shop.html" class="btn" style="border-radius: 0.2rem;">Book Now</a>
                                    <a href="shop.html" class="btn addToCart" style="border-radius: 0.2rem;background-color: antiquewhite;" pachId=3>

                                        <?xml version="1.0" ?><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="height: 90%;width: 22px;fill: var(--mainBColor);"><title/><circle cx="14.531" cy="21.792" r="2"/><circle cx="4.531" cy="21.792" r="2"/><path d="M22.469,1.042H19.407A1.756,1.756,0,0,0,17.672,2.56l-1.8,13.482H1.531a1.25,1.25,0,1,0,0,2.5h15a1.757,1.757,0,0,0,1.735-1.519L20.034,3.759a.251.251,0,0,1,.248-.217h2.187a1.25,1.25,0,0,0,0-2.5Z"/><path d="M6.643,12.422a1.251,1.251,0,0,0,1.776,0l5-5.042a1.25,1.25,0,1,0-1.776-1.76L9.209,8.075A.25.25,0,0,1,8.781,7.9V1.459a1.25,1.25,0,1,0-2.5,0V7.9a.249.249,0,0,1-.427.176L3.419,5.62A1.25,1.25,0,0,0,1.643,7.38Z"/></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="border: 1px solid var(--mainBColor);border-radius: 1rem;margin-left: 1vw;margin-right: 1vw;">
                    <div class="shop-item mb-10">
                        <div class="shop-content">
                            <h3 class="title"> <a href="shop-details.html">Smart Full Body Checkup</a></h3>
                            <div style="padding-bottom: 3rem;margin-bottom: 2rem;border-bottom: 1px solid var(--mainBColor);">
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Total no.of Tests - 82</span>
                                </div>
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Quick Turn Around Time</span>
                                </div>
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Reporting as per NABL ISO guidelines</span>
                                </div>
                            </div>

                            <p class="shop-discount" style="padding-left: 5%;">Offer Price</p>
                            <div class="shop-bottom">
                                <ul>
                                    <li class="price" style="padding-left: 5%;">$97 <del style="font-size: 15px;">$120</del> </li>
                                </ul>
                                <div class="d-flex justify-content-around" style="margin-top:1rem;">
                                    <a href="shop.html" class="btn" style="border-radius: 0.2rem;">Book Now</a>
                                    <a href="shop.html" class="btn addToCart" style="border-radius: 0.2rem;background-color: antiquewhite;" pachId=3>

                                        <?xml version="1.0" ?><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="height: 90%;width: 22px;fill: var(--mainBColor);"><title/><circle cx="14.531" cy="21.792" r="2"/><circle cx="4.531" cy="21.792" r="2"/><path d="M22.469,1.042H19.407A1.756,1.756,0,0,0,17.672,2.56l-1.8,13.482H1.531a1.25,1.25,0,1,0,0,2.5h15a1.757,1.757,0,0,0,1.735-1.519L20.034,3.759a.251.251,0,0,1,.248-.217h2.187a1.25,1.25,0,0,0,0-2.5Z"/><path d="M6.643,12.422a1.251,1.251,0,0,0,1.776,0l5-5.042a1.25,1.25,0,1,0-1.776-1.76L9.209,8.075A.25.25,0,0,1,8.781,7.9V1.459a1.25,1.25,0,1,0-2.5,0V7.9a.249.249,0,0,1-.427.176L3.419,5.62A1.25,1.25,0,0,0,1.643,7.38Z"/></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="border: 1px solid var(--mainBColor);border-radius: 1rem;margin-left: 1vw;margin-right: 1vw;">
                    <div class="shop-item mb-10">
                        <div class="shop-content">
                            <h3 class="title"> <a href="shop-details.html">Smart Full Body Checkup</a></h3>
                            <div style="padding-bottom: 3rem;margin-bottom: 2rem;border-bottom: 1px solid var(--mainBColor);">
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Total no.of Tests - 82</span>
                                </div>
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Quick Turn Around Time</span>
                                </div>
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Reporting as per NABL ISO guidelines</span>
                                </div>
                            </div>

                            <p class="shop-discount" style="padding-left: 5%;">Offer Price</p>
                            <div class="shop-bottom">
                                <ul>
                                    <li class="price" style="padding-left: 5%;">$97 <del style="font-size: 15px;">$120</del> </li>
                                </ul>
                                <div class="d-flex justify-content-around" style="margin-top:1rem;">
                                    <a href="shop.html" class="btn" style="border-radius: 0.2rem;">Book Now</a>
                                    <a href="shop.html" class="btn addToCart" style="border-radius: 0.2rem;background-color: antiquewhite;" pachId=3>

                                        <?xml version="1.0" ?><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="height: 90%;width: 22px;fill: var(--mainBColor);"><title/><circle cx="14.531" cy="21.792" r="2"/><circle cx="4.531" cy="21.792" r="2"/><path d="M22.469,1.042H19.407A1.756,1.756,0,0,0,17.672,2.56l-1.8,13.482H1.531a1.25,1.25,0,1,0,0,2.5h15a1.757,1.757,0,0,0,1.735-1.519L20.034,3.759a.251.251,0,0,1,.248-.217h2.187a1.25,1.25,0,0,0,0-2.5Z"/><path d="M6.643,12.422a1.251,1.251,0,0,0,1.776,0l5-5.042a1.25,1.25,0,1,0-1.776-1.76L9.209,8.075A.25.25,0,0,1,8.781,7.9V1.459a1.25,1.25,0,1,0-2.5,0V7.9a.249.249,0,0,1-.427.176L3.419,5.62A1.25,1.25,0,0,0,1.643,7.38Z"/></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" style="border: 1px solid var(--mainBColor);border-radius: 1rem;margin-left: 1vw;margin-right: 1vw;">
                    <div class="shop-item mb-10">
                        <div class="shop-content">
                            <h3 class="title"> <a href="shop-details.html">Smart Full Body Checkup</a></h3>
                            <div style="padding-bottom: 3rem;margin-bottom: 2rem;border-bottom: 1px solid var(--mainBColor);">
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Total no.of Tests - 82</span>
                                </div>
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Quick Turn Around Time</span>
                                </div>
                                <div class="shop-item-rating">
                                    <span class="avg-rating">
                                        <?xml version="1.0" ?><svg style="width: 2rem;height:2rem;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4.71,7.71-5,5a1,1,0,0,1-1.42,0l-2-2a1,1,0,0,1,1.42-1.42L11,12.59l4.29-4.3a1,1,0,0,1,1.42,1.42Z" fill="var(--hoverBColor)"/></svg>
                                    </span>
                                    <span class="total-rating">Reporting as per NABL ISO guidelines</span>
                                </div>
                            </div>

                            <p class="shop-discount" style="padding-left: 5%;">Offer Price</p>
                            <div class="shop-bottom">
                                <ul>
                                    <li class="price" style="padding-left: 5%;">$97 <del style="font-size: 15px;">$120</del> </li>
                                </ul>
                                <div class="d-flex justify-content-around" style="margin-top:1rem;">
                                    <a href="shop.html" class="btn" style="border-radius: 0.2rem;">Book Now</a>
                                    <a href="shop.html" class="btn addToCart" style="border-radius: 0.2rem;background-color: antiquewhite;" pachId=3>

                                        <?xml version="1.0" ?><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="height: 90%;width: 22px;fill: var(--mainBColor);"><title/><circle cx="14.531" cy="21.792" r="2"/><circle cx="4.531" cy="21.792" r="2"/><path d="M22.469,1.042H19.407A1.756,1.756,0,0,0,17.672,2.56l-1.8,13.482H1.531a1.25,1.25,0,1,0,0,2.5h15a1.757,1.757,0,0,0,1.735-1.519L20.034,3.759a.251.251,0,0,1,.248-.217h2.187a1.25,1.25,0,0,0,0-2.5Z"/><path d="M6.643,12.422a1.251,1.251,0,0,0,1.776,0l5-5.042a1.25,1.25,0,1,0-1.776-1.76L9.209,8.075A.25.25,0,0,1,8.781,7.9V1.459a1.25,1.25,0,1,0-2.5,0V7.9a.249.249,0,0,1-.427.176L3.419,5.62A1.25,1.25,0,0,0,1.643,7.38Z"/></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- categories-area-end -->

    <!-- discount-area -->
    <section class="discount-area pb-90 pt-85">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="discount-wrap" style="background-image: url(/static/img/bg/discount_bg.jpg);">
                        <div class="discount-content">
                            <span>medical pack</span>
                            <h4 class="title "><a href="shop.html ">Skilled <br> Phelebos</a></h4>
                            <p>Want everyone to see it and find myself sharing the link</p>
                            <a href="shop.html " class="btn ">Request callBack</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- discount-area-end -->

    <!-- deal-week-area -->
    <section class="deal-week-area ">
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-lg-6 ">
                    <div class="section-title text-center mb-30 ">
                        <h3 class="title " style="color: rgba(40, 40, 40, 1); ">Why Us</h3>
                        <p style="color: rgba(40, 40, 40, 0.7); ">Want everyone to see it and find myself sharing the link anywhere</p>
                    </div>

                </div>
            </div>
            <div class="row ">
                <div class="col-xl-3 col-lg-4 col-sm-6 order-2 order-lg-0 ">
                    <div class="deal-week-item ">
                        <div class="deal-week-inner ">
                            <div class="deal-week-thumb ">
                                <img src="/static/img/products/deal_week_img01.jpg " alt=" ">
                            </div>
                            <div class="deal-week-content ">
                                <!-- <span>medical</span> -->
                                <h4 class="title "><a href="shop.html ">1000+ <br>Tests</a></h4>

                            </div>
                        </div>
                    </div>
                    <div class="deal-week-item ">
                        <div class="deal-week-inner ">
                            <div class="deal-week-thumb ">
                                <img src="/static/img/products/deal_week_img02.jpg " alt=" ">
                            </div>
                            <div class="deal-week-content ">
                                <!-- <span>medical</span> -->
                                <h4 class="title "><a href="shop.html ">Widest Network </a></h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 ">
                    <div class="deal-week-item dw-big-item ">
                        <div class="deal-week-inner ">
                            <div class="deal-week-content ">
                                <!-- <span>medical pack</span> -->
                                <h4 class="title "><a href="shop.html "> Genetic  Testing </a></h4>

                            </div>
                            <div class="deal-week-thumb ">
                                <img src="/static/img/products/deal_week_img03.jpg " class="main-img " alt=" ">
                                <img src="/static/img/products/dw_item_des.png " class="discount-img " alt=" ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6 ">
                    <div class="deal-week-item ">
                        <div class="deal-week-inner ">
                            <div class="deal-week-thumb ">
                                <img src="/static/img/products/deal_week_img04.jpg " alt=" ">
                            </div>
                            <div class="deal-week-content ">
                                <!-- <span>covid-19</span> -->
                                <h4 class="title "><a href="shop.html ">Health Packages</a></h4>

                            </div>
                        </div>
                    </div>
                    <div class="deal-week-item ">
                        <div class="deal-week-inner ">
                            <div class="deal-week-thumb ">
                                <img src="/static/img/products/deal_week_img05.jpg " alt=" ">
                            </div>
                            <div class="deal-week-content ">
                                <!-- <span>medical pack</span> -->
                                <h4 class="title "><a href="shop.html ">Medical Professionals</a></h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- deal-week-area-end -->

    <!-- shop-area -->

    <!-- shop-area-end -->

    <!-- customer-feedback-area -->
    <section class="customer-feedback-area ">
        <div class="container ">
            <div class="section-area-inner ">
                <div class="row ">
                    <div class="col-12 ">
                        <div class="customer-feedback-title ">
                            <h2 class="title " style="color: rgba(40, 40, 40, 1); ">Doctor's Desk</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 ">
                    <div class="customer-feedback-active owl-carousel ">
                        <div class="customer-feedback-item ">
                            <div class="feedback-item-content ">
                                <div class="feedback-tags ">
                                    <ul>
                                        <li class="active "><a href="# ">articles</a></li>
                                        <li><a href="# ">#html</a></li>
                                        <li><a href="# ">#technology</a></li>
                                        <li><a href="# ">#base</a></li>
                                    </ul>
                                </div>
                                <h2 class="title ">Medical news and health news headlines posted throughout the day.</h2>
                                <div class="feedback-client ">
                                    <div class="thumb "><img src="/static/img/images/feedback_client01.png " alt=" "></div>
                                    <div class="info ">
                                        <h5>Donnie Jakson</h5>
                                        <span>UI | UX Design</span>
                                    </div>
                                </div>

                            </div>
                            <div class="feedback-img " data-background="/static/img/images/feedback_img.jpg "></div>
                        </div>
                        <div class="customer-feedback-item ">
                            <div class="feedback-item-content ">
                                <div class="feedback-tags ">
                                    <ul>
                                        <li class="active "><a href="# ">articles</a></li>
                                        <li><a href="# ">#html</a></li>
                                        <li><a href="# ">#technology</a></li>
                                        <li><a href="# ">#base</a></li>
                                    </ul>
                                </div>
                                <h2 class="title ">Medical news and health news headlines posted throughout the day.</h2>
                                <div class="feedback-client ">
                                    <div class="thumb "><img src="/static/img/images/feedback_client02.png " alt=" "></div>
                                    <div class="info ">
                                        <h5>Rouniy Kenon</h5>
                                        <span>UI | UX Design</span>
                                    </div>
                                </div>

                            </div>
                            <div class="feedback-img " data-background="/static/img/images/feedback_img02.jpg "></div>
                        </div>
                        <div class="customer-feedback-item ">
                            <div class="feedback-item-content ">
                                <div class="feedback-tags ">
                                    <ul>
                                        <li class="active "><a href="# ">articles</a></li>
                                        <li><a href="# ">#html</a></li>
                                        <li><a href="# ">#technology</a></li>
                                        <li><a href="# ">#base</a></li>
                                    </ul>
                                </div>
                                <h2 class="title ">Medical news and health news headlines posted throughout the day.</h2>
                                <div class="feedback-client ">
                                    <div class="thumb "><img src="/static/img/images/feedback_client02.png " alt=" "></div>
                                    <div class="info ">
                                        <h5>Rouniy Kenon</h5>
                                        <span>UI | UX Design</span>
                                    </div>
                                </div>

                            </div>
                            <div class="feedback-img " data-background="/static/img/images/feedback_img03.jpg "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- customer-feedback-area-end -->


    <!-- core-features-area -->
    <section class="core-features-area ">
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-md-6 ">
                    <div class="core-features-item mb-30 ">
                        <div class="core-features-icon ">
                            <img src="/static/img/icon/delivery.png " alt=" ">
                        </div>
                        <div class="core-features-content ">
                            <h4 class="title ">Home Delivery</h4>
                            <p>Product Delivery is a customer-centric approach to defining.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="core-features-item mb-30 ">
                        <div class="core-features-icon ">
                            <img src="/static/img/icon/return.png " alt=" ">
                        </div>
                        <div class="core-features-content ">
                            <h4 class="title ">Click and Pick</h4>
                            <p>Product Delivery is a customer-centric approach to defining.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="core-features-item mb-30 ">
                        <div class="core-features-icon ">
                            <img src="/static/img/icon/headphone.png " alt=" ">
                        </div>
                        <div class="core-features-content ">
                            <h4 class="title ">Quality Support</h4>
                            <p>Product Delivery is a customer-centric approach to defining.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- core-features-area-end -->

    <section class="testimonial-area testimonial-bg ">
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-xl-6 col-lg-8 ">
                    <div class="section-title text-center mb-45 ">
                        <h3 class="title " style="color: rgba(40, 40, 40, 1); ">Patients Speak</h3>
                        <!-- <p style="color: rgba(40, 40, 40, 0.7); ">Want everyone to see it and find myself sharing</p> -->
                    </div>
                </div>
            </div>
            <div class="row testimonial-active ">
                <div class="col-xl-4 ">
                    <div class="testimonial-item ">
                        <div class="testi-img ">
                            <img src="/static/img/images/testimonial_img01.png " alt=" ">
                        </div>
                        <div class="testi-content ">
                            <p>“ Want everyone to see and find myself sharing the link Lorem Ipsum is simply dummy text of printing typesing industry ”</p>
                            <div class="testi-avatar-info ">
                                <h5 class="title ">E. Tomas Felix</h5>
                                <span>Founder. CEO</span>
                                <div class="rating ">
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 ">
                    <div class="testimonial-item ">
                        <div class="testi-img ">
                            <img src="/static/img/images/testimonial_img02.png " alt=" ">
                        </div>
                        <div class="testi-content ">
                            <p>“ Want everyone to see and find myself sharing the link Lorem Ipsum is simply dummy text of printing typesing industry ”</p>
                            <div class="testi-avatar-info ">
                                <h5 class="title ">G. Faeian Felix</h5>
                                <span>Founder. CEO</span>
                                <div class="rating ">
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 ">
                    <div class="testimonial-item ">
                        <div class="testi-img ">
                            <img src="/static/img/images/testimonial_img03.png " alt=" ">
                        </div>
                        <div class="testi-content ">
                            <p>“ Want everyone to see and find myself sharing the link Lorem Ipsum is simply dummy text of printing typesing industry ”</p>
                            <div class="testi-avatar-info ">
                                <h5 class="title ">D. Nova Lunap</h5>
                                <span>Founder. CEO</span>
                                <div class="rating ">
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 ">
                    <div class="testimonial-item ">
                        <div class="testi-img ">
                            <img src="/static/img/images/testimonial_img02.png " alt=" ">
                        </div>
                        <div class="testi-content ">
                            <p>“ Want everyone to see and find myself sharing the link Lorem Ipsum is simply dummy text of printing typesing industry ”</p>
                            <div class="testi-avatar-info ">
                                <h5 class="title ">M. Hisana Kulan</h5>
                                <span>Founder. CEO</span>
                                <div class="rating ">
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                    <i class="fas fa-star "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Media Gallery -->

    <section class="blog-area pt-85 pb-60 ">
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-xl-6 col-lg-8 ">
                    <div class="section-title text-center mb-45 ">
                        <h3 class="title ">Antlians in Media</h3>
                        <p>Want everyone to see it and find myself sharing</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-md-6 col-sm-9 ">
                    <div class="blog-post-item mb-30 ">
                        <div class="blog-post-thumb ">
                            <a href="blog-details.html "><img src="/static/img/blog/blog_post_thumb01.jpg " alt=" "></a>
                        </div>
                        <div class="blog-post-content ">
                            <h4 class="title "><a href="blog-details.html ">Consectetur adipiscing Nullfrea felis commo facilisis.</a></h4>

                            <div class="blog-post-meta ">
                                <ul class="d-flex justify-content-around ">
                                    <li><i class="far fa-sticky-note "></i> In <a href="blog.html ">News</a></li>
                                    <li><i class="far fa-calendar "></i> Mar 10 2021</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9 ">
                    <div class="blog-post-item mb-30 ">
                        <div class="blog-post-thumb ">
                            <a href="blog-details.html "><img src="/static/img/blog/blog_post_thumb02.jpg " alt=" "></a>
                        </div>
                        <div class="blog-post-content ">
                            <h4 class="title "><a href="blog-details.html ">Baby's congestion is with saline spray or nose drops</a></h4>

                            <div class="blog-post-meta ">
                                <ul class="d-flex justify-content-around ">
                                    <li><i class="far fa-sticky-note "></i> In <a href="blog.html ">News</a></li>
                                    <li><i class="far fa-calendar "></i> Mar 14 2021</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9 ">
                    <div class="blog-post-item mb-30 ">
                        <div class="blog-post-thumb ">
                            <a href="blog-details.html "><img src="/static/img/blog/blog_post_thumb03.jpg " alt=" "></a>
                        </div>
                        <div class="blog-post-content ">
                            <h4 class="title "><a href="blog-details.html ">Two drops in each nostril loosen the mucus inside</a></h4>

                            <div class="blog-post-meta ">
                                <ul class="d-flex justify-content-around ">
                                    <li><i class="far fa-sticky-note "></i> In <a href="blog.html ">News</a></li>
                                    <li><i class="far fa-calendar "></i> Mar 19 2021</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Media Gallery End -->

</main>

<!-- main-area-end -->
{% end %}